.html,body{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: silver;
    margin:10rem;
}
.glass{
    padding: 10rem;
}
.glass-2{
    position: relative;
    background-color: blue;
}
.cup-333{
    position: absolute;
    top: 0px;
    left: 0px;
}
.glass-0{
    background-color: red;
    position: sticky;
    top: 0px;
}
.cup-1{
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color:black;
    color: white;
}
.glass-1{
    background-color: tomato;
    position: relative;
}
.cup-22{
    position: absolute;
    top: 0px;
    left: 0px;
}