body{
    background-color: #f5f7fa;
        font-family: 'Roboto', sans-serif;
        color: #434a54;
        
        align-items:center;
        justify-content: center;
 
}

h1{
    
    line-height: 4.5;
font-size: calc(1.3rem + .6vw);
font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
font-weight: 600;
color: #434a54;
margin-left: 17px;

}
.section-workexperience{
    background-color: white;
padding-right: 2rem;
padding-left: 1rem;
font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

margin-left: 5px;
margin-right: 5px;



}

.section0{
    border: 1px solid #e6e9ed;
    margin-bottom: 25px;
    padding: 0px;
    line-height: 1;
    color: #434a54;
    border-left:2px solid #4a89dc;
    height: 300%;
    font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    width: 185px;
    position: relative;
    font-size: 100px !important,
    
}

    .section0::after{
        content: '';
        height: 2px;
        width: 26px;
        background-color: #4a89dc;
        position: absolute;
        top: 35px;
        left: -26px;
    }
    .section0::before{
        content: '';
        height: 10px;
        width: 10px;
        background-color: #fff;
        position: absolute;
        top: 29px;
        left: -38px;
        border: 2px solid #4a89dc;
        border-radius: 100%;
    }
   
    .box{
        height: 50%;
        margin: 0px 50px;
        background-color: white;
        position: relative;
    }
    .box::before{
        content: '';
        height: 99%;
        width: 2px;
        background-color: #e6e9ed;
        position: absolute;
        top: -4px;
        left: -27px;
    }
       
p{
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight:400;
    color:#434a54;
    padding: 15px;

    
    


}
h2{
    margin-left: 14px;
    font-family:Poppins SemiBold;
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 600;
    color: #434a54;
}
h5{
    line-height: 0;
    margin-left: 14px;
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: 400;
    color:#6c757d ;
    line-height: 0px;
}
@media screen only and(min-width:400) {
    body{
        background-color: #f5f7fa;
            font-family: 'Roboto', sans-serif;
            color: #434a54;
            
            align-items:center;
            justify-content: center;
     
    }
    .section-workexperience{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        gap: 5px;
        width: 200%;
    }
    
}