<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="Experience.css">
        <title>Resume</title>
    </head>
<body>
    <h1 style="text-indent: 380px;color: #434a54;"> Work Experience</h1>
    <div class="section-container">
        <section class="section-0">
            <h1><b>Frontend Developer</b><small> at Creative Agency</small></h1>
            <h5>May, 2015 - Present </h5>
            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate<br>
                 strategy foster collaborative thinking to further the overall value proposition.</p>
        </section>
        <section class="section-1">
            <h1><b>Graphic Designer</b><small> at Design Studio</small></h1>
            <h5>June, 2013 - May, 2015</h5>
            <p>Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the<br>
                information highway will close the loop on focusing solely on the bottom line.</p>
        </section>
        <section class="section-2">
            <h1><b>Junior Web Developer</b><small> at Indie Studio</small></h1>
            <h5>Jan, 2011 - May, 2013</h5>
            <p>User generated content in real-time will have multiple touchpoints for offshoring. Organically grow the holistic world<br> 
                view of disruptive innovation via workplace diversity and empowerment.</p>
        </section>
    </div>
</body>
</html>