body{
height: 100%;
background-color: #f5f7fa;

}
h2{

color: #434a54;
font-size: 28px;
font-family:Poppins SemiBold;
line-height: 3;
width: 95%;
}

.section-0{
    background-color:white;
    color: #434a54;
    border: 1px solid #e6e9ed; 
    border-left: 2px solid #4a89dc;
    font-size: 14px;
    padding: 20px 20px; 
    flex-basis: 85%;
  
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    width: 980px;
    height: 100%;
    border: 1px solid #e6e9ed;
    background-color: white;
    gap: 33px;
    margin: auto;}

     @media only screen and ( min-width :300px){

        body{
            background-color: red;
            
        }
        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 30px;
            width: 980px;
            height: 100%;
            border: 1px solid #e6e9ed;
            background-color: white;
            gap: 33px;
            margin: auto;}
        
 
     }
        
    


   
    