<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="Experience.css">
        <title>Resume</title>
    </head>
<body>
    <div class="section-container"> 
   <div class="box">
    <hr><br>
    <h1 style="text-indent: 44px;color: #434a54;font-size: 28px;font-family:Poppins SemiBold;line-height: 1;"> Work Experience</h1><br>
        <section class="section-0"><br>
            <h1 style="font-family:Poppins SemiBold;font-size: 1.25rem;line-height: 1.2;font-weight: 600;color: #434a54;">
                Frontend Developer<small> at Creative Agency</small></h1>
            <h5 style="font-family: Roboto; font-size: 0.875rem;font-weight: 400;color:#6c757d !important;line-height: 0px;">
                May, 2015 - Present </h5>
            <p style="font-family: Roboto;font-size: 16px;line-height: 24px;font-weight:400;color:#434a54;">
                Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate
                 strategy foster collaborative thinking to further the overall value proposition.</p><br>
        </section>
        <section class="section-1">
            <h1 style="font-family:Poppins SemiBold;font-size: 1.25rem;line-height: 1.2;font-weight: 600;color: #434a54;">
                Graphic Designer<small> at Design Studio</small></h1>
            <h5 style="font-family: Roboto; font-size: 0.875rem;font-weight: 400;color:#6c757d !important;line-height: 0px;">
                June, 2013 - May, 2015</h5>
            <p style="font-family: Roboto;font-size: 16px;line-height: 24px;font-weight:400;color:#434a54;"> 
                Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the
                information highway will close the loop on focusing solely on the bottom line.</p><br>
        </section>
        <section class="section-2">
            <h1 style="font-family:Poppins SemiBold;font-size: 1.25rem;line-height: 1.2;font-weight: 600;color: #434a54;">
                Junior Web Developer<small> at Indie Studio</small></h1>
            <h5 style="font-family: Roboto; font-size: 0.875rem;font-weight: 400;color:#6c757d !important;line-height: 0px;">
                Jan, 2011 - May, 2013</h5>
            <p style="font-family: Roboto;font-size: 16px;line-height: 24px;font-weight:400;color:#434a54;">
                User generated content in real-time will have multiple touchpoints for offshoring. Organically grow the holistic world
                view of disruptive innovation via workplace diversity and empowerment.</p><br>
        </section>
        <hr>
    </div>
    </div>
</body>
</html>
