<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/skill.css">
    <link rel="stylesheet" href="./css/Experience.css">
    <link rel="stylesheet" href="./css/Education.css">
    <link rel="stylesheet" href="./css/style3.css">
    <title>Resume</title>
</head>

<body>
    <header class="header">
        <h1 class="primary-font">Sony Daman</h1>
        <div class="social-icons">
            <i class="fa fa-twitter"></i>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-github"></i>
        </div>
    </header>
    <section class="profile">
        <div class="resume">
            <div class="pic">
                <img src="https://unsplash.it/200" alt="">
            </div>
            <div class="profile-container">
                <div class="introduction">

                    <h1 class="font">BHAVYA</h1>
                    <p class="title">Graphic Designer & Web Developer</p>
                </div>
                <div class="action">
                    <button>Download CV</button>&nbsp;
                    <button class="success">Hire Me</button>
                </div>
            </div>

        </div>
    </section>
    <section class="about">
        <h1 class="about">
            ABOUT
        </h1>
        <P>Hello..!! I am ______________ ... I am a web developer and a designer ...
            i am beginner and i have just started doing projects.. </P>
        <ul class="listing">
            <li> AGE
                <p> 19 </p>
            </li>
            <li> EMAIL
                <P>ishawalia90@gmail.com</P>
            </li>
            <li>PHONE
                <P> +91 90########</P>
            </li>
            <li>ADDRESS
                <P> #1469/11B BADSHAHI BAGH ,AMBALA CITY,HARYANA,INDIA</P>
            </li>


        </ul>
    </section>
    <section class="skill-container">
        <h1 class="test">Professional Skills</h1>
        <div class="col-mb-12">
            <div class="section">
                <p>HTML</p>
                <div class="section-skill">
                    <div class="skill-fill skill-html">
                    </div>
                </div>
            </div>
            <div class="section">
                <p>CSS</p>
                <div class="section-skill">
                    <div class="skill-fill skill-css">
                    </div>
                </div>
            </div>
            <div class="section">
                <p>JAVASCRIPT</p>
                <div class="section-skill">
                    <div class="skill-fill skill-java">
                    </div>
                </div>
            </div>
            <div class="section">
                <p>Adobe Photoshop</p>
                <div class="section-skill">
                    <div class="skill-fill skill-adobe">
                    </div>
                </div>
            </div>
            <div class="section">
                <p>Sketch</p>
                <div class="section-skill">
                    <div class="skill-fill skill-sketch">
                    </div>
                </div>
            </div>
            <div class="section">
                <p>Adobe XD</p>
                <div class="section-skill">
                    <div class="skill-fill skill-xd">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="experience">
        <!-- <div class="section-container">
            <div class="box">
                <hr><br>
                <h1
                    style="text-indent: 44px;color: #434a54;font-size: 28px;font-family:Poppins SemiBold;line-height: 1;">
                    Work
                    Experience</h1><br>
                <section class="section-0"><br>
                    <h1
                        style="font-family:Poppins SemiBold;font-size: 1.25rem;line-height: 1.2;font-weight: 600;color: #434a54;">
                        Frontend Developer<small> at Creative Agency</small></h1>
                    <h5
                        style="font-family: Roboto; font-size: 0.875rem;font-weight: 400;color:#6c757d !important;line-height: 0px;">
                        May, 2015 - Present </h5>
                    <p style="font-family: Roboto;font-size: 16px;line-height: 24px;font-weight:400;color:#434a54;">
                        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative
                        approaches to
                        corporate
                        strategy foster collaborative thinking to further the overall value proposition.</p><br>
                </section>
                <section class="section-1">
                    <h1
                        style="font-family:Poppins SemiBold;font-size: 1.25rem;line-height: 1.2;font-weight: 600;color: #434a54;">
                        Graphic Designer<small> at Design Studio</small></h1>
                    <h5
                        style="font-family: Roboto; font-size: 0.875rem;font-weight: 400;color:#6c757d !important;line-height: 0px;">
                        June, 2013 - May, 2015</h5>
                    <p style="font-family: Roboto;font-size: 16px;line-height: 24px;font-weight:400;color:#434a54;">
                        Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion
                        along
                        the
                        information highway will close the loop on focusing solely on the bottom line.</p><br>
                </section>
                <section class="section-2">
                    <h1
                        style="font-family:Poppins SemiBold;font-size: 1.25rem;line-height: 1.2;font-weight: 600;color: #434a54;">
                        Junior Web Developer<small> at Indie Studio</small></h1>
                    <h5
                        style="font-family: Roboto; font-size: 0.875rem;font-weight: 400;color:#6c757d !important;line-height: 0px;">
                        Jan, 2011 - May, 2013</h5>
                    <p style="font-family: Roboto;font-size: 16px;line-height: 24px;font-weight:400;color:#434a54;">
                        User generated content in real-time will have multiple touchpoints for offshoring. Organically
                        grow the
                        holistic world
                        view of disruptive innovation via workplace diversity and empowerment.</p><br>
                </section>
                <hr>
            </div>
        </div> -->
    </section>
    <section class="education">
        <!-- <div class="container">
            <div class="box">
                <hr><br>
                <h1
                    style="text-indent: 44px;color: #434a54;font-size: 28px;font-family:Poppins SemiBold;line-height: 1;margin: 10px 0px 45px 0px;">
                    Education</h1><br>
                <div class="section-0">
                    <h1
                        style="font-family:Poppins SemiBold;font-size: 1.25rem;line-height: 1.2;font-weight: 600;color: #434a54;">
                        Masters in Information Technology<small> from International University</small></h1>
                    <h5
                        style="font-family: Roboto; font-size: 0.875rem;font-weight: 400;color:#6c757d !important;line-height: 0px;">
                        2011 - 2013</h5>
                    <p style="font-family: Roboto;font-size: 16px;line-height: 24px;font-weight:400;color:#434a54;">
                        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative
                        approaches to
                        corporate
                        strategy foster collaborative thinking to further the overall value proposition.<br>
                    </p>
                </div><br>
                <div class="section-0">
                    <h1
                        style="font-family:Poppins SemiBold;font-size: 1.25rem;line-height: 1.2;font-weight: 600;color: #434a54;">
                        Bachelor of Computer Science <small>from Regional College</small></h1>
                    <h5
                        style="font-family: Roboto; font-size: 0.875rem;font-weight: 400;color:#6c757d !important;line-height: 0px;">
                        2007 - 2011</h5>
                    <p style="font-family: Roboto;font-size: 16px;line-height: 24px;font-weight:400;color:#434a54;">
                        Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion
                        along
                        the
                        information highway will close the loop on focusing solely on the bottom line.<br>
                    </p>
                </div><br>
                <div class="section-0">
                    <h1
                        style="font-family:Poppins SemiBold;font-size: 1.25rem;line-height: 1.2;font-weight: 600;color: #434a54;">
                        Science and Mathematics<small> from Mt. High Scool</small></h1>
                    <h5
                        style="font-family: Roboto; font-size: 0.875rem;font-weight: 400;color:#6c757d !important;line-height: 0px;">
                        1995 - 2007</h5>
                    <p style="font-family: Roboto;font-size: 16px;line-height: 24px;font-weight:400;color:#434a54;">
                        User generated content in real-time will have multiple touchpoints for offshoring. Organically
                        grow the
                        holistic world
                        view of disruptive innovation via workplace diversity and empowerment.<br>
                    </p>
                </div><br>
                <hr>
            </div>
        </div> -->
    </section>
    <section class="contact">
        <div class="contact-section">
            <h2 class="h3 ">Contact</h2>
        </div>


        <div class="row">

            <div class="form">
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
            </div>
            <div class="form">
                <input type="text" id="email" name="email" placeholder="Your email..">
            </div>
            <div class="form ">
                <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Send">
        </div>

        <div class="col">
            <div class="group">
                <h3 class="h6">Address</h3>
                <div class=" text">140, City Center, New York, U.S.A</div>
                <h3 class="h6">Phone</h3>
                <div class=" text">+0718-111-0011</div>
                <h3 class="h6">Email</h3>
                <div class=" text">Joyce@company.com</div>
            </div>
        </div>
    </section>
    <footer class="footer">
        naresh
    </footer>
</body>

</html>