.container{
  display: grid;
    grid-template-areas:"header header header"
                        " left-side main  right-side"
                        "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;                    
                        
    height:100vh;
}
.header,.sidebar,.main,.footer{
    padding: 1px;
}
.header{
        grid-area:header;
        background-color: tomato;
}
.sidebar{
        background-color: saddlebrown;
}
.left-side{
        grid-area:left-side;
}
.right-side{
        grid-area:right-side;
}
.main{
        grid-area:main;
        background-color: wheat;
        height:65vh;
}
.footer{
        grid-area:footer;
        background-color: royalblue;
}