html,body{
    margin: 0;
    padding: 0;
}
.container{
    background-color:violet;
    margin:100px;

}
.item-B{
    background-color:indianred;
    position: relative;
}
.item-22{
    position:absolute;
    top:0;
    left: 0;

}
.item-333{
    position:fixed;
    TOP: 0;
    left:0;
}
.items.item-A{
    position:sticky;
    top:0px;
}
.items{
    padding: 85px;
}
.item{
    background-color: steelblue;
    margin:20px;
    padding: 20px;
}

.item-222{
    position: absolute;
    top:0;
   right:0;
}
.item-C{
    background-color:lightcoral;
}