body,h1,p{
    margin: 0;
}



ul{
    float:top;
}
ul li a{
    color:hotpink;
    padding:1px 0px;
    border:0px solid thistle;

}

.section {
    background-color: gold;
    color : white;
    padding:0px 10px;
    margin:5px 0px;
    border:1px solid #000;

}