*{
  box-sizing: border-box;
}

body{

    
    font-family: 'Roboto', sans-serif;
    color: #434a54;
    background-color: #f5f7fa;
    align-items:center;
    justify-content: center;
    
    
}
.primary-font{
    font-family: 'roboto' ,sans-serif;
}
.header{
    text-align: center;

}
.social-icon > i{

    font-size: 24px;
}
.social-icons > i {
        font-size: 24px;
}
.about{  
    margin: 0rem;
    font-size: 4px;
    text-align: center;

}

.profile{
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    display:block;

  }
  .resume{
      background-color: #4a89dc;;
      padding:32px;
      display: flex;
      flex-wrap: wrap;
      flex-direction:column;
    position: relative;
    align-items: center;
    border-radius: 10px;
 }
  .pic{
    display:inline-flex;
    background-color:#f5f7fa;
    margin-top: 20px;
    padding:10px;
    border-radius: 2px;
    box-shadow: 0 0.125rem 1rem 0px rgb(0 0 0 / 8%);
    color:white;
  }

  .introduction{
      text-align:center;


  }
  .pic img{
      display:block;
      width: 200px;
      height: 200px;
     }
  .font{
    font-family: 'roboto' sans-serif;
    font-size: 27px;
    color: white;
    text-align: center;
    margin: 16px 0;
  }
  .title {
    color:white;
    font-size: 16px;
    font-family: sans-serif;

  }
  .action{
    display: flex;
    width: 100%;
    justify-content: center;
  }  
  button {
    margin-top: 8px;
    border: 1px solid #fff;
    padding: 13px 24px;
    font-size: 15px;
    border-radius: 36px;
  }
  button.success{
    color: #fff;
    background-color: #2fa084;
    border-color: #2c967c;
  }
button:hover {
        cursor: pointer;
        background-color:#37bc9b;
        color: white;}

        @media screen and (min-width: 420px) {
          /* .resume.introduction {
            width: 100%;
            margin-top: 25px;
          } */
          .profile{
            padding:10px 35px;
          }
          .resume{
                flex-direction: row;
                position: relative;
          }
          .pic{
                position: absolute;
                top: 27px;
          }
          .introduction{
            flex: 1;
          }
          .profile-container{
            flex:1;
            margin-left: 200px;
          }
        }