
.container{
    height:100vh;
    display: grid;
    grid-template-areas: "header header header"
                         "leftside main rightside"  
                               "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
}

.header{
    background-color: indigo;
    grid-area: header;
    height: 10vh;
}

.sidebar{
    background-color: lightcoral;
}
.leftside{
    grid-area: leftside;
}

main{
    height:80vh;
    grid-area: main;
    background-color: lawngreen;
}
.rightside{
    grid-area: rightside;
}
.footer{
    background-color: pink;
    grid-area: footer;
    height: 10vh;
}