*{
    box-sizing: border-box;
}
body{
    background-color:#cdcdcd;
    font-family: 'Roboto', sans-serif;
    color: #434a54;
    background-color: #f5f7fa;
    width:100%;
    }
.skill-container{
    background-color: white;
    padding: 30px 30px;
    margin:5px 5px;
}
.skill-bars
{
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    color: #434a54; 
    line-height: 1.5;
}
.test{
    margin: 0px;
    font-size: 23px;    
}
.section-skill{
background-color:#ddd;
width: 100%;

}
.skill-fill{
 height: 20px;
background-color: #0d6efd;
width: 50%;
}
.skill-html{
    background-color: #0d6efd;
    width:50%;    
}
.skill-css{
width:45%;    
}
.skill-java{
    width:40%;
}
.skill-adobe{
width:45%;
background-color:#198754;
}
.skill-sketch{
width:50%;
}
.xd{
    width:46%;    
}
