<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Resume</title>
</head>

<body>
    <header class="header">
        <h1 class="primary-font">Sony Daman</h1>
        <div class="social-icons">
            <i class="fa fa-twitter"></i>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-github"></i>
        </div>
        <div>
        
            
            <h1 class="about">
                 ABOUT
            </h1>
 <P>Hello..!! I am ______________ ... I am a web developer and a designer ... 
     i am beginner and i have just started doing projects.. </P>
<ul class="listing">
    <li> AGE 
        <p> 19 </p>
    </li>
    <li> EMAIL
        <P>ishawalia90@gmail.com</P>
    </li>
    <li>PHONE
        <P> +91 90########</P>
    </li>
    <li>ADDRESS
        <P> #1469/11B BADSHAHI BAGH ,AMBALA CITY,HARYANA,INDIA</P>
    </li>

            
</ul>   </div>

            
        
    
    </body>

    </html>