<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="about.css">
    <title>Resume</title>
</head>

<body>
<div>
            <h1 class="about">
                 About Me
            </h1>
 <P>Hello..!! I am ______________ ... I am a web developer and a designer ... 
     i am beginner and i have just started doing projects.. </P>
    </div>
    <div class="col-md-5 offset-md-1">
    <div class="row mt-2">
        <div class="col-sm-4">
        <div class="pb-1">Age</div>
        </div>
        <div class="col-sm-8">
        <div class="pb-1 text-secondary">28</div>
        </div>
        <div class="col-sm-4">
        <div class="pb-1">Email</div>
        </div>
        <div class="col-sm-8">
        <div class="pb-1 text-secondary">Joyce@company.com</div>
        </div>
        <div class="col-sm-4">
        <div class="pb-1">Phone</div>
        </div>
        <div class="col-sm-8">
        <div class="pb-1 text-secondary">+0718-111-0011</div>
        </div>
        <div class="col-sm-4">
        <div class="pb-1">Address</div>
        </div>
        <div class="col-sm-8">
            <div class="pb-1 text-secondary">140, City Center, New York, U.S.A</div>
            </div>
    </div>
    </div>
    
    </body>

    </html>