<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

        
           <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="./css/style1.css">

</head>
<body>
  <div class="form-container">
    <div class="section">
    <input class="contact"  type="text" id="name" name="name" placeholder="Your Name" required="">
    </div>
    <div class="section">
    <input class="contact" type="email" id="email" name="name" placeholder="Your E-mail" required="">
    </div>
    </div>
    <div class="message">
      <textarea class="contact"id="message" name="message" rows="4" placeholder="Your Message" required=""></textarea>
      <input type="submit" value="Submit">
      </div>
      <div class="adress">
          <div class="adress-value">
          <h3>Address</h3>
          <div class="text">140, City Center, New York, U.S.A</div>
          <h3>Phone</h3>
          <div class="text">+0718-111-0011</div>
          <h3>Email</h3>
          <div class="text">Joyce@company.com</div>
          </div>
          </div>
</body>
</html>






