<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="style3.css">

</head>
<body>
    <div class="container">
          <div class="row">
            <div class="name">
              <label for="fname">fname</label>
            </div>
            <div class="lastname">
              <input type="text" id="fname" name="firstname" placeholder="BHAVYA">
            </div>
          </div>
          <div class="row">
            <div class="name">
              <label for="lname">lname</label>
            </div>
            <div class="lastname">
              <input type="text" id="lname" name="lastname" placeholder="TUTEJA">
            </div>
          </div>
          <div class="row">
            <div class="name">
              <label for="message-input">message</label>
            </div>
            <div class="lastname">
              <textarea id="mesage-input" name="message" placeholder="your message" style="height:200px"></textarea>
            </div>
          </div>
          
        </form>
</div>
</body>
</html>