<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <div class="coloum">
          <input t    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="style3.css">

</head>
<body>
<div class="container">
  <div class="row">
    <div class="info">
    </div>
    <div class="lastname">
      <input type="text" id="name" name="name" placeholder="Your name..">
    </div>
  </div>
  <div class="row">
    <div class="info">
    </div>
    <div class="lastname">
      <input type="text" id="email" name="name" placeholder="Your email id..">
    </div>
  </div>
  
  <div class="row">
    <div class="info">
    </div>
    <div class="lastname">
      <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>
    </div>
  </div>
  <div class="row">
    <input type="submit" value="send">
  </div>
</form>
</div>
<div class="section">
  <p>
    <strong>Address</strong><br />
    Adress<br /><br />
    <strong>Phone</strong><br />
    999999999<br /><br />
    <strong>Email</strong><br />
    google@gmail.com
  </p>
</div>

</body>
</html>