<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Resume</title>
</head>

<body>
    <header class="header">

        <h1 class="primary-font">Sony Daman</h1>
        <div class="social-icons">
            <i class="fa fa-twitter"></i>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-github"></i>

        </div>
    </header>
    <div class="profile">

        <div class="resume">
            <div class="pic">
                <img src="https://unsplash.it/200" alt="">
            </div>
            <div class="profile-container">
                <div class="introduction">

                    <h1 class="font">BHAVYA</h1>
                    <p class="title">Graphic Designer & Web Developer</p>
                </div>
                <div class="action">
                    <button>Download CV</button>&nbsp;
                    <button class="success">Hire Me</button>
                </div>
            </div>

        </div>
    </div>
    </div>

</body>

</html>