

body{

    
    font-family: 'Roboto', sans-serif;
    color: #434a54;
    background-color: #f5f7fa;
    align-items:center;
    justify-content: center;
    
    
}
.primary-font{
    font-family: 'roboto' ,sans-serif;
}
.header{
    text-align: center;

}
.social-icon > i{

    font-size: 24px;
}
.social-icons > i {
        font-size: 24px;
}
.about{  
    margin: 0rem;
    font-size: 4px;
    text-align: center;

}

.profile{
    box-sizing: border-box;
    border-radius: 10px;
max-width: 100px;
 margin: 50px;
    text-align: center;

  }
  .resume{
      background-color: #4a89dc;;
      padding:15px 15px;
      display: flex;
      flex-direction:column;
    align-items: center;
    position: relative;


  }
  .pic{
    display: inline-flex;
    padding: 10px;
    background-color:#f5f7fa;
    margin:5px;
    border-radius: 2px;
     justify-content:center;
     box-sizing: border-box;
  position:absolute;
  left: 5%;
  bottom:-15%;
  color:white;
  }

  .introduction{
        width: 66%%;
      text-align:center;

  }
  .pic img{
      display:block;

     }
  .font{
    font-family: 'roboto' sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
  }
  .title {
    color:white;
    font-size: 15px;
    font-family: sans-serif;
  }
  
  button {
    border: 2px white;
 display: inline-block;
    padding: 8px;
    color: #434a54!;
    background-color:white;
    text-align: center;
    cursor: pointer;
    width: 25%;
    font-size: 12px;
    border-radius: 15px;
  }
  
button:hover {
        cursor: pointer;
        background-color:#37bc9b;
        color: white;}

        
        

        
          