body,html{
    height: 100%;
}
h1,p{
    margin: 0px;
}
.text{
    background-color:green;
     color: white;
      flex-basis: 30%;
      border: 2px solid black;
      padding: 10px 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: 100%;
}