.containor {
  background: red;
  color: white;
  width: 45rem;
  height: 45rem;
  display: grid;
  grid-template-columns: 0.75rem;
  grid-template-rows: 0.75rem;
}

.item {
  background: blue;
  color: white;
  width: 6rem;
  height: 6rem;
}
