.main_div {
  width: 100vw;
  height: 100vw;
  background-color: lightpink;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  color: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --b-a-width: 10vw;
  --b-a-md-width: 15vw;
  --b-a-sm-width: 20vw;
}

h1 {
  color: lightyellow;
  text-shadow: 0 2px 5px lightslategrey;
  position: relative;
}

h1::before {
  content: "";
  position: absolute;
  width: 10vw;
}

h1::after {
  content: "";
  position: absolute;
  width: 10vw;
}
