body{
--bs-font-sans-serif:'Roboto',Arial, Helvetica, sans-serif;
margin:0px;
padding: 0px;   
}
.heading{
color: #f40;
font-size: 16px;
font-style: normal;
font-weight: 400;
padding: 25px 25px;    
}
.heading2{
    color:#10223f;
    font-style: normal;
     font-size: 25px;
     padding-left: 25px;
}
.card-title{
    color:#10223f;
}
.card-text{
    color: gray;
    font-size: 19px;
    margin-left: 43px;
}
.icon{
    color:#f40;
}