body,html{
  
    font-family: 'Roboto', sans-serif;
    color: #434a54;
    background-color: #f5f7fa;
    align-items:center;
    justify-content: center;
    background-color: #f5f7fa;
    
    }
    hr{
        border: 1px solid #e6e9ed; 
        margin-top: 0px; 
       
            
    }

.section-0{
background-color:white;
color: #434a54; 
margin: 5px 45px 5px 80px;
padding: 15px 30px 15px 30px;
border: 1px solid #e6e9ed; 
border-left: 2px solid #37bc9b;
font-size: 14px;
position: relative;
      
}
.section-0::after{
    content: '';
    height: 2px;
    width: 26px;
    background-color: #37bc9b;
    position: absolute;
    top: 35px;
    left: -26px;
}
.section-0::before{
    content: '';
    height: 10px;
    width: 10px;
    background-color: #fff;
    position: absolute;
    top: 29px;
    left: -38px;
    border: 2px solid #37bc9b;
    border-radius: 100%;
}
.box{
    height: 50%;
    margin: 0px 50px;
    background-color: white;
    position: relative;
}
.box::before{
    content: '';
    height: 82%;
    width: 2px;
    background-color: #e6e9ed;
    position: absolute;
    top: 120px;
    left: 50px;
}
   