*{
    box-sizing: border-box;
}
body{
    background-color:#cdcdcd;
    margin: 40px;
}
.skill-container{
    background-color: white;
    padding: 20px;
}
.test{
    margin: 0px;
    font-size: 18px;
}
.section-skill{
background-color:#ddd;
width: 100%;

}
.skill-fill{
 height: 20px;
background-color: #0d6efd;
width: 50%;
}
.skill-html{
    background-color: #0d6efd;
width:50%;    
}
.skill-css{
    width:45%;    
}
.skill-java{
    width:40%;
}
.skill-adobe{
width:45%;
}
.skill-sketch{
width:50%;
}
.xd{
    width:46%;
}