    html,body
{
margin:0px;  
height: 100%;  
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: "header header header"
                          "left-side main right-side"
                          "footer footer footer";
   height: 100vh;                       
}


.header{
    height: 10px;
    color:green;
    grid-area: header;
    height: 20vh;
    list-style-type: none;
    background-color: aqua;
    
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
                             
    height: 100%;
    

}
.nav-item:hover {
background-color:blue;
color:white;

}
.test{
    margin: 0px;
    padding: 0px;
    
}

li a:hover{
    background-color: greenyellow;
    color: white;
}
li a{
    display: block;
    color: grey;
    text-decoration: none;
    
}

.sidebar{
    background-color: brown;
    
}
.leftside{
    grid-area: leftside;
}
.main{
    background-color: coral;
    grid-area: main;
    color: brown;
    height: 60vh;
}
.rightside{
    grid-area: rightside;
}

.footer{
    background-color: cadetblue;
    color: chocolate;
    grid-area: footer;
    height: 20vh;
}
