body{
    margin: 0;
}
/* 0-9,a-f  6 */
.section {
    background-color: rgb(156, 135, 252);
    color: rgb(0, 0, 0);
    padding:1px 9px;
    margin:7px 0px;
    border:4px solid rgb(36, 12, 122);
    width:50%;
    flex-basis: 45%;

}
h1{
    margin: 0;
}
/* 0-9,a-f  6 */
.section {
    background-color: rgb(156, 135, 252);
    color: rgb(0, 0, 0);
    padding:4px 2px;
    margin:3px 1px;
    border:4px solid rgb(36, 12, 122);
    width:50%;
    flex-basis: 45%;

}
p{
    margin: 0;
}
/* 0-9,a-f  6 */
.section {
    background-color: rgb(156, 135, 252);
    color: rgb(0, 0, 0);
    padding:1px 9px;
    margin:1px 2px;
    border:4px solid rgb(36, 12, 122);
    width:50%;
    flex-basis: 45%;

}
.section  {    display: flex;
    justify-content: left;
    align-items: right;
    flex-wrap: wrap;
    gap:6px;
    height: 100%;
}