 html,body{
    height: 100%;
}

h1{
    margin: 0;
}
p{
    margin: 0;
} 
body,h1,p{
    margin: 0;
}

.section {
    background-color: tomato;
    color: white;
    padding:0px 10px;
    /* margin:5px 0px; */
    border:2px solid #000;
    /* width:50%; */
    flex-basis: 31%;
}
.section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:5px;
    height: 100%;
}