#hero-img .hero{
    background-color: var(--white);
}
#hero-img .row{
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}
#hero-img .col-md-12{
  position: relative;
  text-align: center;
  display: inline-block;
}
#hero-img .col-md-12 img{
    margin-left: -18px;
    margin-right: -39px;
}
.element{
    position:absolute;
    bottom:-406px;
    width:87%;
    margin-left: -1px;
}
.container{
    background-color:var(--white);
    border-style: solid;
    border-width: 0;
    border-radius: 0;

}
.year-box{
    padding: 15px 20px;
}
    
#hero-img .container h1{
font-family: 'Roboto',sans-serif;
    color:var(--darkblack);
    margin-top: 0;
    font-style: normal;
    text-transform: normal;
    line-height: 1.2;
    letter-spacing: .2px;
    margin-bottom: .5rem;
    font-weight: 500;
    font-size: 40px;
}
#hero-img .container h5{
    ont-family: 'Roboto',sans-serif;
    color:var(--darkblack);
    margin-top: 0;
    font-style: normal;
    text-transform: normal;
    line-height: 1.2;
    letter-spacing: .2px;
    margin-bottom: .5rem;
    font-weight: 500;
    font-size: 16px;
}
