@import url('./fonts.css');
@import url('./colors.css');
html,body{
    margin: 0px;
    padding: 0px;
}

.about-content{
    margin-bottom: 100px;
}
body{
    font-family: var(--bs-font-primary);
    font-weight: 400;
    font-style: normal;
    color: var(--grey);
}