.services{
    background-color: var( --white);
}
.content{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: #f40;
    padding:14px;
}
h4{color:var( --black);
    font-size:25px;
    font-family: sans-serif;
    letter-spacing: .2px;

}
.card-container .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-4{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

}
.card{
    margin-bottom: 5px;
    color:var(--white );
    padding: 35px 30px 35px;
}
.service-img{
    display:flex;
    margin-top: 10px;
    padding:6px;
    border-radius:20px;
    text-align: left;
    margin-bottom: 10px;
  }
  .service-img img{
      display:block;
      width:60px;
      height: 60px;
      border-radius:10px;
     }
  
.service-tittle{
padding-bottom: 5px;
margin-left:-1px;
margin-top: 18px;
font-style: normal;
    font-weight: inherit;
box-sizing: border-box;
font-family: sans-serif;
color:#f40;
}
p{
font-family: Roboto,Arial, Helvetica, sans-serif;
font-weight:200;
font-style: normal;
color:var(--grey );
font-display: swap;
display: block;
margin-top: 0;
margin-left:-14 px;
font-size:20px;
}


.main-btn a{
    color: #565872;
font-size: 14px;
margin-right: 2px;
}
