.services{
    /* background-color: var( --white); */
}
#services-carousel .carousel-indicators{
        padding: 0 .5em;
}
#services-carousel .carousel-indicators,
#services-carousel .carousel-control-prev,
#services-carousel .carousel-control-next
{
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
}
#services-carousel .carousel-control-prev,
#services-carousel .carousel-control-next{
    width: 25px;
}
.services .content{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    font-weight: 400;
    color:  var(--orange);
    padding:14px;
}
.services h4{
    color:var( --black);
    font-size:25px;
    font-family: sans-serif;
    letter-spacing: .2px;
    position: relative;

}
.services .services-heading h4::after{
    content: '';
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--orange);
    height: 2px;
    width: 60px;
}
.services .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.services .col-md-4{
    position: relative;
    width: 100%;
    min-width: 250px;
}
.services .card{
    margin-bottom: 5px;
    color:var(--white );
}

.services .service-icons{
    color:var(--orange);
    margin-bottom: 25px;
    font-size: 56px;
}

i{
    font-style: normal;
    font-weight: inherit;
}

  
.services .service-tittle{
padding-bottom: 5px;
font-family: sans-serif;
color: var(--orange);
}
.services p{
    font-size: 20px;
    color: var(--grey);
    
    font-weight: 200;
    
}


.services .main-btn a{
    color: var(--grey);
font-size: 14px;
margin-right: 2px;
}
