*{
    box-sizing: border-box;
}
body{
    width:100%;
    background-color:grey;
   }

.container-bar{
    background-color: white;
    height: 600px;
    padding: 30px 30px;
    margin:5px 5px;
}
.text{
    margin: 0;
    font-size:23px;
}
.section-skill{
    background-color: red;
    width: 100%;
}
.fillbar{
    background-color: #0d6efd;
    height: 20px;
    width:50%;
}
.fillhtml{
    background-color: turquoise;
    width:50%;
}
.fillcss{
    background-color:blue;
    width:50%;
}
.fillnot{
    background-color:blue;
    width: 50%;
}
