html,body{
    margin: 0;
}
.container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: 10% 10% 70% 10%;
   grid-template-areas:". . ."
                   "left-side left-side left-side"
                   "main main main"
                   "footer footer footer";
   height:100vh;
}
.header,.sidebar,.main,.footer{
padding: 1px;
}
.header{
   grid-area:header;
   background-color: hsla(187, 100%, 50%, 0.486);
   display: none;
}
.sidebar{
   background-color: #17e4b1;
}
.left-side{
   grid-area:left-side;
}
.right-side{
   display: none;
   grid-area:right-side;
}
.main{
   grid-area:main;
   background-color: #0053b16c;
   /* height:65vh; */
}
.footer{
   grid-area:footer;
   background-color: rgb(249, 245, 253);
}

.menu{
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-around;
   height: 100%;
   align-items: center;
}
.menu-item{
   flex-basis: 25%;
   text-align: center;
   height: 100%;
}
.menu-item:hover{
   cursor: pointer;
   background-color: rgba(21, 3, 143, 0.527);
   color: #f3deded8;
   
}
/* .menu > li{

} */
@media only screen and ( min-width : 400px) {
.container{
   grid-template-columns: 1fr 3fr 1fr;
   grid-template-rows: 10% 80% 10%;
   grid-template-areas:"header header header"
                           "left-side main  right-side"
                           "footer footer footer";
} 
.right-side,.header{
        display: block;
}
}