<link rel="stylesheet" href="./assets/css/choose.css">

<div class="container-fluid choose">
    <div class="row">
        <img src="https://unsplash.it/200/200?id=1" class="card-img-top" alt="img-1">
        </div>
        <div class="section-title">
            <h5>why choose us</h5>
            <h2>We provide experts to create great value for your visa</h2>
        </div>
        <div class="tittle">
            <div class="heading">REAL TIME STATUS </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="content-image">
                <img src="https://unsplash.it/100/100?id=1" class="card-img-top" alt="img-1">       
              </div>
        </div>
