<link rel="stylesheet" href="./css.consultation.css">
<div class="container">
  <div class="row">
    <div class="col-20">
      <div class="col-sm-12 col-md-6 col-lg-7">
        <img src="./assets/img/about-contact-left.jpeg" class="card-img-top" alt="img1">
        <h2>Free Visa Consultation</h2>
      </div>

    </div>


  </div>
  <div class="containet-form">
    <div class="row">

      <div class="col-20"><br><br>
        <div class="col-sm-12 col-md-12 col-lg-3">
          <div class="col-md-6 mb-4">
            <form>
              <label for="fname">Full Name</label><br>
              <input type="text" class="form-control form-control-sm" placeholder="Full Name"><br>
              <label for="email">Email</label><br>
              <input type="text" class="form-control form-control-sm" placeholder="Email"><br>
              <label for="phone">Phone</label><br>
              <input type="text" class="form-control form-control-sm" placeholder="Phone"><br>
              <label for="visa type">Visa Type</label><br>
              <input list="browsers" name="browser" class="form-control form-control-sm" placeholder="Busienss Visa">
              <datalist id="browsers">
                <option value="Busienss Visa">
                <option value="Student Visa">
                <option value="Family Visa">
                <option value="Work Visa">
                <option value="Immigrate Visa">
              </datalist><br>
              <label for="city">City</label><br>
              <input type="text" class="form-control form-control-sm" placeholder="City"><br>
              <label for="Country">Country</label><br>
              <input type="text" class="form-control form-control-sm" placeholder="Country"><br>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>