<link rel="stylesheet" href="./assets/css/carousal.css">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <picture>
                <source media="(max-width: 992px)" srcset="https://unsplash.it/375/500?id=1">
                <source media="(min-width: 992px)" srcset="https://unsplash.it/1200/510?id=1">
                <img src="https://unsplash.it/375/500?id=1" class="d-block w-100" alt="slider-1">
            </picture>
            <div class="carousel-caption d-none d-md-block">
                <div
                    class="carousel-content p-3 rounded-3 h-50 justify-content-around align-items-start d-flex flex-column text-start">
                    <h5 class="w-100">Welcome to CanVisaAus</h5>
                    <h1>Since 1980 we are experts<br />in Immigration Visa</h1>
                    <a class="btn btn-contact-us w-50 rounded-0" href="./contact.html">
                        Contact Us <i class="fa fa-arrow-alt-circle-right" />
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <picture>
                <source media="(max-width: 992px)" srcset="https://unsplash.it/375/500?id=2">
                <source media="(min-width: 992px)" srcset="https://unsplash.it/1200/510?id=2">
                <img src="https://unsplash.it/375/500?id=2" class="d-block w-100" alt="slider-2">
            </picture>
            <div class="carousel-caption d-none d-md-block">
                <div
                    class="carousel-content p-3 rounded-3 h-50 justify-content-around align-items-start d-flex flex-column text-start">
                    <h5 class="w-100">Education Overseas</h5>
                    <h1>We are partner with global<br />university of CANADA</h1>
                    <a class="btn btn-contact-us w-50 rounded-0" href='./contact.html'>
                        Contact Us <i class="fa fa-arrow-alt-circle-right" />
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <picture>
                <source media="(max-width: 992px)" srcset="https://unsplash.it/375/500?id=2">
                <source media="(min-width: 992px)" srcset="https://unsplash.it/1200/510?id=2">
                <img src="https://unsplash.it/375/500?id=2" class="d-block w-100" alt="slider-2">
            </picture>
            <div class="carousel-caption d-none d-md-block">
                <div
                    class="carousel-content p-3 rounded-3 h-50 justify-content-around align-items-start d-flex flex-column text-start">
                    <h5 class="w-100">Abroad Immigration</h5>
                    <h1>Immigration Consultation <br />For Abroad Education</h1>
                    <a class="btn btn-contact-us w-50 rounded-0" href='./contact.html'>
                        Contact Us <i class="fa fa-arrow-alt-circle-right" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>