.footer{
    background-color: #12294c;
    color: white;

}
.text-reset{
    
    text-decoration: none;
}
p{
    color:#6d6d6e;
    font-size: small;
    font-weight: 400;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    font-style: normal;
  
}  
