<link rel="stylesheet" href="./assets/css/header.css">
<nav class="navbar navbar-expand-lg bg-orange text-light">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">CanAusVisa</a>
        <button class="navbar-toggler border-light btn-focus" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon d-flex align-items-center justify-content-center">
                <i class="fas fa-bars text-light"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-light" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Canada
                    </a>
                    <ul class="dropdown-menu shadow-lg text-white bg-orange" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-white" href="#">Action</a></li>
                        <li><a class="dropdown-item text-white" href="#">Another action</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Australia
                    </a>
                    <ul class="dropdown-menu shadow-lg text-white bg-orange" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-white" href="#">Action</a></li>
                        <li><a class="dropdown-item text-white" href="#">Another action</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-light" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>