<link rel="stylesheet" href="./assets/css/news.css">

<div class="container-fluid news">
  <div class="row">
    <div class="news-heading text-center">
      <h5 class="news-tittle">LATEST NEWS</h5>
      <h2>Recent News</h2>
    </div>
  </div>

<div class="row">
<div class="card" style="width: 18rem; padding-left: 5px;">
    <img src="https://unsplash.it/200/200?id=4" class="card-img-top" alt="img-1">
      <div class="content-area text-center">
        <div class="eastend-blog"> 
          <span>
            <i class="icon-user"></i>
            <a href="">admin</a></span>
             <span><i class="fa fa-user" aria-hidden="true"></i>
              <a href=""> 0 Comments </a></span>
              <span><i class="fa fa-comment-o" aria-hidden="true"></i></span>
            </div>
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  </div>
  </div>
  </div>
  <div class="card" style="width: 18rem; padding-left: 5px;">
    <img src="https://unsplash.it/200/200?id=4" class="card-img-top" alt="img-1">
      <div class="content-area text-center">
        <div class="eastend-blog"> 
          <span>
            <i class="icon-user"></i>
            <a href="">admin</a></span>
             <span><i class="fa fa-user" aria-hidden="true"></i>
              <a href=""> 0 Comments </a></span>
              <span><i class="fa fa-comment-o" aria-hidden="true"></i></span>
            </div>
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  </div>
  </div>
  </div>
  <div class="card" style="width: 18rem; padding-left: 5px;">
    <img src="https://unsplash.it/200/200?id=4" class="card-img-top" alt="img-1">
    
      <div class="content-area text-center">
        <div class="eastend-blog"> 
          <span>
            <i class="icon-user"></i>
            <a href="">admin</a></span>
             <span><i class="fa fa-user" aria-hidden="true"></i>
              <a href=""> 0 Comments </a>
            </span>
            <span><i class="fa fa-comment-o" aria-hidden="true"></i></span>
            </div>
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  </div>
  </div>
  </div>