<link rel="stylesheet" href="./assets/css/news.css" />

<div class="container news mt-5">
  <div class="row">
    <div class="news-heading text-center">
      <h5 class="news-tittle">LATEST NEWS</h5>
      <h2 class="mb-5">Recent News</h2>
    </div>
  </div>

  <div class="row gap-3">
    <div class="col-sm-12 col-lg-4 card p-0 shadow-lg mb-4 rounded-0">
      <img src="https://unsplash.it/100/100?id=2" alt="img-1" />
      <div class="content-area text-center">
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12  col-lg-4 card p-0 shadow-lg mb-4 rounded-0">
      <img src="https://unsplash.it/100/100?id=3" alt="img-1" />
      <div class="content-area text-center">
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 card p-0 shadow-lg mb-4 rounded-0">
      <img src="https://unsplash.it/100/100?id=4" alt="img-1" />

      <div class="content-area text-center">
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>