<div class="container-fluid news">
  <div class="row">
    <div class="news-heading text-center">
      <h5 class="news-tittle">LATEST NEWS</h5>
      <h2>Reecent News</h2>
    </div>
  </div>


<div class="card" style="width: 18rem;">
    <img src="https://unsplash.it/200/200?id=4" class="card-img-top" alt="img-1">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
      <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>