<link rel="stylesheet" href="./assets/css/services.css">
<div class="container-fluid services text-center">
  <div class="row">
    <div class="services-heading text-center">
      <h2 class="content">SERVICES</h2>
      <h4>SERVICES WE PROVIDER</h4>
    </div>
  </div>
      </div>
      <div class="card-container row">
        <div class=" col-md-4 col-sm-12">
          <div class="card">
            <div class="service-icons">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            </div>
            <div class="service-content">
              <div class="service-tittle">
                <h2>Education visa</h2>
              </div>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing </p>
            </div>
            <div class="main-btn text-left">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
  
        <div class=" col-md-4 col-sm-12">
          <div class="card">
            <div class="service-icons">
              <i class="fa fa-briefcase" aria-hidden="true"></i>
            </div>
            <div class="service-content">
              <div class="service-tittle">
                <h2>Business visa</h2>
              </div>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing </p>
            </div>
            <div class="main-btn text-left">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-sm-12">
          <div class="card">
            <div class="service-icons">
              <i class="fa fa-suitcase" aria-hidden="true"></i>


            </div>
            <div class="service-content">
              <div class="service-tittle">
                <h2>Work visa</h2>
              </div>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing
               </p>
            </div>
            <div class="main-btn text-left">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-sm-12">
          <div class="card">
            <div class="service-icons">
              <i class="fa fa-plane" aria-hidden="true"></i>

              
            </div>
            <div class="service-content">
              <div class="service-tittle">
                <h2>Toursit visa</h2>
              </div>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing
                 </p>
            </div>
            <div class="main-btn text-left">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-sm-12">
          <div class="card">
            <div class="service-icons">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>

            </div>
            <div class="service-content">
              <div class="service-tittle">
                <h2>Transit visa</h2>
              </div>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing 
             </p>
            </div>
            <div class="main-btn text-left">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-sm-12">
          <div class="card">
            <div class="service-icons">
              <i class="fa fa-shield" aria-hidden="true"></i>

            </div>
            <div class="service-content">
              <div class="service-tittle">
                <h2>Diplomatic visa</h2>
              </div>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing 
                 </p>
            </div>
            <div class="main-btn text-left">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-sm-12">
          <div class="card">
            <div class="service-icons">
    <i class="fa fa-users"></i>
              </h1>
            </div>
            <div class="service-content">
              <div class="service-tittle">
                <h2>Family visa</h2>
              </div>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing 
               </p>
            </div>
            <div class="main-btn text-left">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-sm-12">
          <div class="card">
            <div class="service-icons">
              <i class="fa fa-id-card" aria-hidden="true"></i>

            </div>
            <div class="service-content">
              <div class="service-tittle">
                <h2>Immigrate visa</h2>
              </div>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing
               </p>
            </div>
            <div class="main-btn text-left">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-sm-12">
          <div class="card">
            <div class="service-icons">
              <i class="fa fa-clone" aria-hidden="true"></i>
            </div>
            <div class="service-content">
              <div class="service-tittle">
                <h2>Consular closing</h2>
              </div>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing 
                </p>
            </div>
            <div class="main-btn text-left">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
  