<div id="services" class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4>SERVICES WE PROVIDER</h4>
    <br>
    </div>
    
    <div class="coloum ">
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="https://unsplash.it/100/100" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="https://unsplash.it/100/100" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              </div>
              <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://unsplash.it/100/100" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://unsplash.it/100/100" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      </div>
                      </div>
                      