<link rel="stylesheet" href="./assets/css/services.css">
<div class="container-fluid services text-center mb-4">
  <div class="row m-0 mt-3">
    <div class="services-heading text-center">
      <h2 class="content">OUR SERVICES</h2>
      <h4 class="fs-1">Services We Provide</h4>
    </div>
  </div>
</div>
<div class="services container row m-auto">
  <div id="services-carousel" class="carousel slide d-lg-none" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#services-carousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#services-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#services-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#services-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#services-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#services-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#services-carousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#services-carousel" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#services-carousel" data-bs-slide-to="8" aria-label="Slide 9"></button>
      <button type="button" data-bs-target="#services-carousel" data-bs-slide-to="9" aria-label="Slide 10"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="col-md-4 col-sm-12 card p-4 shadow-lg">
          <div class="service-icons">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          </div>
          <div class="service-content">
            <div class="service-tittle">
              <h2>Education visa</h2>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing </p>
          </div>
          <div class="main-btn text-left">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-md-4 col-sm-12 card p-4 shadow-lg">
          <div class="service-icons">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
          </div>
          <div class="service-content">
            <div class="service-tittle">
              <h2>Business visa</h2>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing </p>
          </div>
          <div class="main-btn text-left">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-md-4 col-sm-12 card p-4 shadow-lg">
          <div class="service-icons">
            <i class="fa fa-suitcase" aria-hidden="true"></i>
          </div>
          <div class="service-content">
            <div class="service-tittle">
              <h2>Work visa</h2>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing
            </p>
          </div>
          <div class="main-btn text-left">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-md-4 col-sm-12 card p-4 shadow-lg">
          <div class="service-icons">
            <i class="fa fa-clone" aria-hidden="true"></i>
          </div>
          <div class="service-content">
            <div class="service-tittle">
              <h2>Consular closing</h2>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing
            </p>
          </div>
          <div class="main-btn text-left">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-md-4 col-sm-12 card p-4 shadow-lg">
          <div class="service-icons">
            <i class="fa fa-id-card" aria-hidden="true"></i>

          </div>
          <div class="service-content">
            <div class="service-tittle">
              <h2>Immigrate visa</h2>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing
            </p>
          </div>
          <div class="main-btn text-left">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-md-4 col-sm-12 card p-4 shadow-lg">
          <div class="service-icons">
            <i class="fa fa-users"></i>
            </h1>
          </div>
          <div class="service-content">
            <div class="service-tittle">
              <h2>Family visa</h2>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing
            </p>
          </div>
          <div class="main-btn text-left">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-md-4 col-sm-12 card p-4 shadow-lg">
          <div class="service-icons">
            <i class="fa fa-shield" aria-hidden="true"></i>

          </div>
          <div class="service-content">
            <div class="service-tittle">
              <h2>Diplomatic visa</h2>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing
            </p>
          </div>
          <div class="main-btn text-left">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-md-4 col-sm-12 card p-4 shadow-lg">
          <div class="service-icons">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>

          </div>
          <div class="service-content">
            <div class="service-tittle">
              <h2>Transit visa</h2>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing
            </p>
          </div>
          <div class="main-btn text-left">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-md-4 col-sm-12 card p-4 shadow-lg">
          <div class="service-icons">
            <i class="fa fa-plane" aria-hidden="true"></i>


          </div>
          <div class="service-content">
            <div class="service-tittle">
              <h2>Toursit visa</h2>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing
            </p>
          </div>
          <div class="main-btn text-left">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-md-4 col-sm-12   card shadow-lg">
          <div class="service-icons">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          </div>
          <div class="service-content">
            <div class="service-tittle">
              <h2>Education visa</h2>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing </p>
          </div>
          <div class="main-btn text-left">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#services-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#services-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="d-none d-lg-block">
    <div class="row">
      <div class="col-lg-4 card shadow-lg">
        <div class="service-icons">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
        <div class="service-content">
          <div class="service-tittle">
            <h2>Education visa</h2>
          </div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing </p>
        </div>
        <div class="main-btn text-left">
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 card shadow-lg">
        <div class="service-icons">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
        <div class="service-content">
          <div class="service-tittle">
            <h2>Education visa</h2>
          </div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing </p>
        </div>
        <div class="main-btn text-left">
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 card shadow-lg">
        <div class="service-icons">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
        <div class="service-content">
          <div class="service-tittle">
            <h2>Education visa</h2>
          </div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing </p>
        </div>
        <div class="main-btn text-left">
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>