<link rel="stylesheet" href="./assets/css/status.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="section">
        <img src="https://unsplash.it/300/300">

    </div>
    <h2 class="heading">WHY CHOOSE US</h2>
    <h1 class="heading2">We Provide Experts<br>To Create Great<br>Value For Your Visa</h1>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-10">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-wechat icon" style="font-size:36px"></i>Real Time status</h2>
                    <p class="card-text">By dealing with data, <br>select tools that help you <br>automate
                        time-<br>consuming processes.</p>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-wechat icon" style="font-size:36px"></i>Real Time status</h2>
                    <p class="card-text">By dealing with data, <br>select tools that help you<br> automate
                        time-<br>consuming processes.</p>

                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-wechat icon" style="font-size:36px"></i>Real Time status</h2>
                    <p class="card-text">
                        By dealing with data, <br>select tools that help you<br> automate time-<br>consuming processes.
                    </p>

                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-wechat icon" style="font-size:36px"></i>Real Time status</h2>
                    <p class="card-text">By dealing with data, <br>select tools that help you<br> automate
                        time-<br>consuming
                        processes.</p>

                </div>
            </div>
        </div>
    </div>

</div>