<link rel="stylesheet" href="./assets/css/testimonial.css">


<div class="container-fluid testimonial">
  <div class="row">
    <div class="testimonial-heading text-center">
      <h5 class="testimonial-country">POPULAR COUNTRY</h5>
      <h2>Immigration Country!</h2>
    </div>
  </div>
  <div class="card-container row">
    <div class=" col-md-6">
      <div class="card">
        <div class="country-image">
        <img src="https://unsplash.it/200/200?id=1" class="card-img-top" alt="img-1">
        </div>
        <div class="country-content">
            <div class="country-tittle">
            <h2>UNITED STATES</h2>
            </div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit
             Aspernatur velit nam quasi cumque inventore corporis?  </p>
         </div>
         <div class="country-btn">
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class=" col-md-6">
        <div class="card">
          <div class="country-image">
          <img src="https://unsplash.it/200/200?id=2" class="card-img-top" alt="img-">
          </div>
          <div class="country-content">
              <div class="country-tittle">
              <h2>UNITED STATES</h2>
              </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit
               Aspernatur velit nam quasi cumque inventore corporis?  </p>
           </div>
           <div class="country-btn">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class=" col-md-6">
        <div class="card">
          <div class="country-image">
          <img src="https://unsplash.it/200/200?id=3" class="card-img-top" alt="img-3">
          </div>
          <div class="country-content">
              <div class="country-tittle">
              <h2>UNITED STATES</h2>
              </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit
               Aspernatur velit nam quasi cumque inventore corporis?  </p>
           </div>
           <div class="country-btn">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
        
      <div class=" col-md-6">
        <div class="card">
          <div class="country-image">
          <img src="https://unsplash.it/200/200?id=4" class="card-img-top" alt="img-4">
          </div>
          <div class="country-content">
              <div class="country-tittle">
              <h2>UNITED STATES</h2>
              </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit
               Aspernatur velit nam quasi cumque inventore corporis?  </p>
           </div>
           <div class="country-btn">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      