<link rel="stylesheet" href="./assets/css/testimonial.css">


<div class="container-fluid testimonial pb-5">
  <div class="row m-0">
    <div class="testimonial-heading text-center mt-4">
      <h5 class="testimonial-country text-white">POPULAR COUNTRY</h5>
      <h1 class="pb-2 mb-3">Immigration Country!</h1>
    </div>
  </div>
  <div class="card-container row m-0">
    <div class="col-md-6">
      <div class="card">
        <div class="country-image mb-3">
          <img src="./assets/img/us.png" class="card-img-top" alt="img-1">
        </div>
        <div class="country-content">
          <div class="country-tittle">
            <h2>UNITED STATES</h2>
          </div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit
            Aspernatur velit nam quasi cumque inventore corporis? </p>
        </div>
        <div class="country-btn text-center">
          <a href="#">Read More</a>
          <i class="fas fa-long-arrow-alt-right text-dark"></i>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="country-image mb-3">
          <img src="./assets/img/australia.png" class="card-img-top" alt="img-1">
        </div>
        <div class="country-content">
          <div class="country-tittle">
            <h2>AUSTRALIA</h2>
          </div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit
            Aspernatur velit nam quasi cumque inventore corporis? </p>
        </div>
        <div class="country-btn text-center">
          <a href="#">Read More</a>
          <i class="fas fa-long-arrow-alt-right text-dark"></i>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="country-image mb-3">
          <img src="./assets/img/canada.png" class="card-img-top" alt="img-1">
        </div>
        <div class="country-content">
          <div class="country-tittle">
            <h2>CANADA</h2>
          </div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit
            Aspernatur velit nam quasi cumque inventore corporis? </p>
        </div>
        <div class="country-btn text-center">
          <a href="#">Read More</a>
          <i class="fas fa-long-arrow-alt-right text-dark"></i>
        </div>
      </div>
    </div>
  </div>