<link rel="stylesheet" href="./assets/css/whychooseus.css">
<div class="container">
    <img src="https:unsplash.it/300/300">
    <h6 class="why">WHY CHOOSE US</h6>
    <h2 class="heading">We Provide Experts<br> To
        Create Great<br> Value For
        Your Visa</h2>
    <div class="row">
        <div class="col-md-1 icon">
            <i class="far fa-comments" style="font-size:36px"></i>
        </div>
        <div class="col-md-11">
            <div class="card-body">
                <h2 class="card-title">Real Time Status</h2>
                <p class="card-text">By dealing with data,<br> select tools that help you <br>automate
                    time-<br>consuming
                    processes..</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1 icon">
            <i class="far fa-comments" style="font-size:36px"></i>
        </div>
        <div class="col-md-11">
            <div class="card-body">
                <h2 class="card-title">Real Time Status</h2>
                <p class="card-text">By dealing with data,<br> select tools that help you <br>automate
                    time-<br>consuming
                    processes..</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1 icon">
            <i class="far fa-comments" style="font-size:36px"></i>
        </div>
        <div class="col-md-11">
            <div class="card-body">
                <h2 class="card-title">Real Time Status</h2>
                <p class="card-text">By dealing with data,<br> select tools that help you <br>automate
                    time-<br>consuming
                    processes..</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1 icon">
            <i class="far fa-comments" style="font-size:36px"></i>
        </div>
        <div class="col-md-11">
            <div class="card-body">
                <h2 class="card-title">Real Time Status</h2>
                <p class="card-text">By dealing with data,<br> select tools that help you <br>automate
                    time-<br>consuming
                    processes..</p>
            </div>
        </div>
    </div>
</div>